/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");


body {
  background-image: url("backround.png");
}

.container {
  padding-top: 10px;
  
  display: grid;
  place-items: center;
}

.img{
  padding-bottom: 50px;
 }
.quoteHeader{
  font-size: 1.5em;
  color: tomato;
}

.content{
  font-size: 1.5em;
  color: rgb(126, 71, 255)
}
.content1{
  font-size: 1.5em;
  color: rgb(126, 71, 255);
}
}
