@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

body {
  overflow-x: none;
  display: grid;
  height: 100vh;
  grid-template: auto 1fr auto / auto 1fr auto;
}

header {
  background: rgb(228, 227, 225);
  padding: 2rem;
  grid-column: 1 / 4;
}

.left-sidebar {
  grid-column: 1 / 2;
}

main {
  padding-top: 5vh;
  padding-left: 3vh;
  padding-right: 3vh;
  background-image: url("backround.png");
  grid-column: 2 / 3;
}

.right-sidebar {
  grid-column: 3 / 4;
}

footer {
  background: rgb(228, 227, 225);
  padding: 2rem;
  text-align: center;
  grid-column: 1 / 4;
}

body {
  font-family: system-ui, sans-serif;
}

.left-sidebar,
.right-sidebar {
  padding: 1rem;
}
.quoteHeader {
  font-size: 1.5em;
  color: tomato;
}

.content {
  font-size: 1.5em;
  color: rgb(126, 71, 255);
}
.content1 {
  font-size: 1.5em;
  color: rgb(126, 71, 255);
}

#Buttons {
  display: none;
}
